<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento&v2' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/media/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/pygments.css" type="text/css" media="screen" />
    
</head>
<body>
    <header>
        <div class="avatar_holder">
            <img src="http://0.gravatar.com/avatar/11748328e57fff12f212fb14df91cbbf?s=100" alt="me" />
        </div>
        <h1>Adam Thurlow</h1>
        <h2>My Blog is Blue</h2>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="http://github.com/thurloat">GitHub</a></li>
                <li><a href="http://twitter.com/thurloat">Twitter</a></li>
            </ul>
        </nav>
    </header>
    <div id="content">
    {% block main %}
        
    {% endblock %}
    </div>
    {% comment %}
    <aside>
        <section>
            <h4>Categories</h4>
            <ul>
            {% for cat in categories %}
                {{cat}}
                <li> <a href="/category/{{ cat.slug }}/">{{ cat.name }}</a> </li>
            {% endfor %}    
            </ul>
        </section>
        <section>
            <h4>Archives</h4>
            <ul>
            {% for y in years %}
                <li> <a href="/archive/{{ y }}/">{{ y }}</a></li>
            {% endfor %}
            </ul>
        </section>
    </aside>
    {% endcomment %}
    <footer>
        <p>
            &copy; 2011 - All rights reserved. Licensed under the terms of GPLv3.
        </p> 
    </footer>
</body>
</html>
