<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - {{ site_name }}</title>
    <link href='http://fonts.googleapis.com/css?family=Quattrocento&v2' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/media/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/pygments.css" type="text/css" media="screen" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8047218-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <header>
        <div class="avatar_holder">
            <img src="http://0.gravatar.com/avatar/11748328e57fff12f212fb14df91cbbf?s=45" alt="me" />
        </div>
        <div class="site_title">
            <h1>
                <span class="z">Thurloat</span>
                <span class="x">Adam Thurlow</span>
            </h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/archives">Archives</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>
    <div id="content">
    {% block main %}
        
    {% endblock %}
    </div>
    {% comment %}
    <aside>
        <section>
            <h4>Categories</h4>
            <ul>
            {% for cat in categories %}
                {{cat}}
                <li> <a href="/category/{{ cat.slug }}/">{{ cat.name }}</a> </li>
            {% endfor %}    
            </ul>
        </section>
        <section>
            <h4>Archives</h4>
            <ul>
            {% for y in years %}
                <li> <a href="/archive/{{ y }}/">{{ y }}</a></li>
            {% endfor %}
            </ul>
        </section>
    </aside>
    {% endcomment %}
    <footer>
        <p>
            &copy; 2011 Adam Thurlow - All rights reserved.
        </p> 
    </footer>
</body>
</html>
