{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block main %}
    <article>
        <header>
            <h1>{{ post.config.title }}</h1>
            <span class="date">{{ post.date }}</span> - Posted by {{ post.author }}
        </header>
        <section>
            {{ post.contents|safe }}
        </section>
        <footer>
            {% for c in post.categories %}
            <a href="/category/{{ c.slug }}/">{{ c.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </footer>
    </article>
{% endblock %}
