* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quattrocento', serif;
    font-size: 14px;
    background-color: #FFF;
}

/**
    Main Layout
**/
body > header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    text-align: left;
    margin: 0 auto;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: #FFF;
}
body > header:hover h1 span.x {
    display: block;
}
body > header:hover h1 span.z {
    display: none;
}
body > header > nav { margin-left: 65px; }
body > header > nav a { font-size: 1.25em; line-height: 45px; display: inline-block; font-family: Helvetica; }
body > header .site_title {
    height: 50px;
    width: 450px;
    position:absolute;
    top: 0;
    right: 10px; }
body > header h1 {
    font-size: 2.25em;
    line-height: 50px;
    text-align: right; }
body > header h1 span.x {
    color: #999;
    display: none;
}
header ul { list-style: none; }
header li {
    padding: 0 10px;
    line-height: 50px;
    float: left; }

.avatar_holder {
    background: #FFF;
    width: 45px;
    height: 45px;
    padding: 0 10px;
    float: left;}

#content { width: 800px; margin: 45px auto; position: relative; }

footer {
    text-align: center;
    border-top: 1px solid #ececec;
    padding-top: 30px;
    font-size: .8em;
    width: 625px;
    margin: 0 auto;
}

/**
    Font and Text defaults.
**/
h1, h2, h3, h4, h5 { font-family: Helvetica, sans-serif; font-weight: 700; }
h2 { font-size: 1.5em; line-height: 2em; }
h3 { font-size: 1.25em; line-height: 2em; }
h3, h4, h5 { font-weight: 400; }
a { color: #68A; text-decoration: none; }
a:hover { color: #00418B; }

/**
    Index Formatting
**/
article.home { margin-left: 175px; border-left: 1px solid #CCC;}
article.home .cat_date {
    margin-left: -175px;
    float: left;
    color: #00418B;
    font-family: Helvetica;
    font-size: 1.5em;
    line-height: 1.75em;
    font-weight: 900;
    padding: 15px 0;}
article.home .cat_date ul {
    margin: 15px 0;
    list-style: none;
    font-family: 'Quattrocento',serif;
    font-size: 0.7em;
    font-weight: normal;
    color: #666;}
article.home .post_body { min-height: 60px; padding: 15px 5px 15px 15px; }
article.home .post_body > h1 { font-size: 2em; line-height: 1.25em; margin: 0 0 10px 0;}

/**
    Article Formatting
**/
article {
    line-height: 1.5em;
    font-size: 16px;}
article p { margin: 0.8em 0; }
article > p { margin-bottom: 1em; }
article ul, article ol { margin: 20px 40px; }
article img.align-center { margin: 1.6em auto; display: block; }
article small { font-size: .6em; }
article > header { margin: 0; }
article > header > h1 {
    width: 100%;
    font-size: 2em;
    line-height: 2.25em; }
article > footer {
    background-color: #FFF;
    border-top: 1px dashed ececec;
    border-bottom: 1px dashed #ececec;
    text-align: center;
    margin-top: 30px;
    padding: 10px 0; }

tt.literal {
    background-color: #F3F6FA;
    padding: 0.1em 0.4em;
    border: 1px solid #DDD; }

.date { font-weight: bold; }
.post p { margin-bottom: 10px; }



/**
    CODE HIGHLIGHTING
**/

div.highlight {
    background: #F6F6F6;
    padding: 0.8em;
    font-size: 0.8em;
    margin: 0.8em 0;
    border-radius: 5px;
    overflow: hidden;
    width: 740px; }

div.highlight pre {
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-bottom: -40px; }

div.linenodiv {
    font-size: 0.8em;
    margin: 0.8em 0.4em 0.4em 0.8em;
    color: #999; }

blockquote {
    padding: 20px 20px 20px 40px;
    background: #F6F6F6;
    position: relative;
    border-radius: 5px;
}

blockquote:before {
    content: '"';
    position:absolute;
    left:5px;
    top: 35px;
    color: #AAA;
    font-size:90px;
    text-shadow: 1px 1px 2px #666;
}

.floatleft {
    float: left;
    padding: 10px;
}

.floatright {
    float: right;
    padding: 10px;
}

